doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/boxicons.min.css')
  body.font-montserrat
    main.mx-auto.h-dvh.max-w-3xl.flex.flex-col.justify-center(class="")
      block content
