mixin button(value, type='button', id="")
    button(type, class='bg-indigo-500 text-white py-[13px] px-5 rounded-[10px] transition-all transform hover:scale-105 hover:bg-white hover:text-indigo-500 border border-indigo-500', id=id)= value